{% extends "F4LibraryBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="profile-usermenu" style="margin:0">
                <ul class="nav">
                    {% set route = app.request.attributes.get('_route') %}
                    {% set list = app.request.get('list') %}
                    {% if route == 'admin_add_book' %}
                    <li class="active">{% else %}
                    <li>{% endif %}
                        <a href="{{ path('admin_add_book') }}">
                            <i class="glyphicon glyphicon-plus"></i>
                            Pridėti knygą </a>
                    </li>
                    {% if route == 'admin_reserved_books' %}
                    <li class="active">{% else %}
                    <li>{% endif %}
                        <a href="{{ path('admin_reserved_books') }}">
                            <i class="glyphicon glyphicon-calendar"></i>
                            Rezervavimas </a>
                    </li>
                    {% if route == 'admin_taken_books' %}
                    <li class="active">{% else %}
                    <li>{% endif %}
                        <a href="{{ path('admin_taken_books') }}">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            Grąžinimas </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default profile-content">
            {% block profile_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
