<div class="panel panel-default">
    <div class="tab-selection">
        <ul class="nav nav-tabs">
            <li class="active">
                <a style="font-size:15px;" href="#tab1default"
                   data-toggle="tab">Atsiliepimai apie knygą</a></li>
            <li>
                <a style="font-size:15px;" href="#tab2default" data-toggle="tab">Parašyti
                    atsiliepimą</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content reviews">
            <div class="tab-pane fade in active" id="tab1default">
                {% for review in reviews %}
                    <blockquote class="{{ (review.rating == 1) ? 'positive' : 'negative' }}">
                        <p>{{ review.review }}</p>
                        <footer>- {{ review.user }}</footer>
                    </blockquote>
                {% else %}
                    <blockquote>
                        <p>Atsiliepimų nėra. Palikite atsiliepimą pirmas!</p>
                    </blockquote>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="tab2default">
                <form>
                    <input type="hidden" name="rating" value="-1">
                    <textarea class="form-control" placeholder="Pasidalinkite savo įspūdžiais apie knygą"></textarea>
                    <div class="write-options">
                        <button class="btn btn-primary btn-sm pull-right btn-submit-form" type="button">Pridėti atsiliepimą
                        </button>
                        <ul class="list-inline">
                            <li><a onclick="initRating(1);return false;" href="#"><i
                                            class="rating glyphicon glyphicon-thumbs-up"></i></a></li>
                            <li><a onclick="initRating(0);return false;" href="#"><i
                                            class="rating glyphicon glyphicon-thumbs-down"></i></a></li>
                            <li class="small text-danger fade"><i
                                        class="glyphicon glyphicon-arrow-left"></i> Būtina pasirinkti
                                įvertinimą!
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
