{# src/F4/LibraryBundle/Resources/views/Page/index.html.twig #}
{% extends 'F4LibraryBundle::layout.html.twig' %}
{% block title %}Main page{% endblock %}

{% block content %}
    <div class="panel with-nav-tabs panel-default">
        <div class="tab-selection">
            <ul class="nav nav-tabs">
                <li class="active"><a style="border:0" href="#tab1default" data-type="popular" data-link="{{ path('F4LibraryBundle_ajax_call') }}" data-toggle="tab" id="book-tab">Skaitomiausios</a></li>
                <li><a style="border:0" href="#tab2default" data-type="newest" data-link="{{ path('F4LibraryBundle_ajax_call') }}" data-toggle="tab" id="book-tab">Naujausios</a></li>
                <li><a style="border:0" href="#tab3default" data-type="soon" data-link="{{ path('F4LibraryBundle_ajax_call') }}" data-toggle="tab" id="book-tab">Greitai atsilaisvins</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                    {% include 'F4LibraryBundle:Book:list.html.twig' with {'books': books} %}
                </div>
                <div class="tab-pane fade" id="tab2default"></div>
                <div class="tab-pane fade" id="tab3default"></div>
            </div>
            <hr>
            <ul class="pager">
                <li class="previous"><a href="#"><i style="font-size:10px" class="glyphicon glyphicon-chevron-up"> </i>
                        Atgal</a></li>
                <li>1-12 (60)</li>
                <li class="next"><a href="#">Pirmyn <i style="font-size:10px"
                                                       class="glyphicon glyphicon-chevron-down"> </i></a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        initAjaxForm();
    </script>
{% endblock %}